*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

h1{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    margin-top: 30px;
    font-size: 22px;
    justify-content: center;
}

.select{
    display: flex;
    font-size: 16px;
    text-align: center;
    margin: 5px auto 0 auto;
}



.nuevoEnvioButton{
    display: flex;
    background-color: rgb(182, 39, 226);
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin: 30px auto;
    width:200px;
    height: 54px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 4px 4px 4px 0px #4c4c4c;
}

.table{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    display: grid;
    width: fit-content;
}

.navegacion{
    display: grid;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: fit-content;   
    grid-template-columns: 200px 50px 50px 50px 200px;
    grid-template-rows: 75px;
    grid-template-areas: "atras adelante";
}

.flechas{
    margin: 0 auto;
    width: 40px;
}

.nuevoEnvio{
    display: grid;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: fit-content;   
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(5, 70px);
    grid-template-areas: "numeroOrdenLabel numeroOrdenValue"
                         "rangoHorarioLabel rangoHorarioValue"
                         "numeroRemitoLabel numeroRemitoValue"
                         "prioridadLabel prioridadValue"
                         "boton boton";
}



.input{
    text-align: center;
    margin: auto;
    height : 30px;
    width: 180px;
}
.BotonEnviarInformacion{
    grid-area: boton;
    margin: auto;
    width:250px;
    height: 55px;
    color: white;
    background-color: coral;
    border: 0;
    border-radius: 20px;
}
